* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: #222;
}

.block {
    background-color: #eee;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.fixed {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 274px;
}

.link {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 600;
    padding: 60px;
    background-color: transparent;
}

.active {
    background-color: #ccc;
}

.box {
    width: 100%;
    height: 100vh;
    display: block;
}

.tab {
    padding: 40px;
    width: 70%;
    margin: auto;
    display: none;
}

.active-tab {
    display: block;
}

.tab_title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
    margin-top: 170px;
}

.tab_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.portfolio {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.min_link {
    padding: 15px;
    font-size: 20px;
    background-color: transparent;
    color: #222;
    font-weight: 700;
}

.active_m {
    background-color: #ccc;
}

.min_tab{
    width: 70%;
    height: 60vh;
    margin: auto;
    margin-top: 100px;
    display: none;
}

.active-min {
    display: block;
}

.contact_main_table {
    font-size: 20px;
    font-weight: bold;
    margin-top: 7px;
}

.contact_main_table_span {
    padding-left: 10px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}